<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# also load static files as load static #}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/main.css' %}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Ruheena - Personal Photo Gallery</title>
    {% endif %}
</head>
<body>
    <header class="px-3 py-2 border-bottom d-flex align-items-center justify-content-around">
        <h1 class="fs-4">Ruheena</h1>
        <div id="search-wrapper" class="rounded px-3 py-1">
            <input type="search" id="search-input" autocomplete="off" placeholder="search here..." />
            <i class="fas fa-search"></i>
        </div>
        <div id="action-btns" class="d-flex align-items-center justify-content-between">
            <a href="#" class="text-decoration-none">login</a>
            <a href="#" class="text-decoration-none btn btn-primary btn-sm ml-3">sign up</a>
        </div>
    </header>
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>