{% block header %}
<header class="px-3 py-2 border-bottom d-flex align-items-center justify-content-around">
    <h1 class="fs-4">Ruheena</h1>
    <div id="search-wrapper" class="rounded px-3 py-1">
        <input type="search" id="search-input" autocomplete="off" placeholder="search here..." />
        <i class="fas fa-search"></i>
    </div>
    <div id="action-btns" class="d-flex align-items-center justify-content-between">
        <a href="{% url 'login' %}" class="text-decoration-none">login</a>
        <a href="{% url 'register' %}" class="text-decoration-none btn btn-primary btn-sm ml-3">sign up</a>
    </div>
</header>
{% endblock header %}