{% block sidebar %}
<section id="side-bar">
    <h4 class="text-center my-3">welcome ismailpervez</h4>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-home"></i>
            Home
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-bookmark"></i>
            Saved
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-layer-group"></i>
            Collection
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-star"></i>
            Favourites
        </a>
    </div>
    <p class="text-center mt-3">gallaria &copy; 2022</p>
</section>
{% endblock sidebar %}